
.body_container{
  background-color: lightgrey;
  position: relative;
  margin:0 auto;
}

.input_container{
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(249, 247, 246, 0.9);
  width: 500px;
  justify-content: center;
  margin:0 auto;
}

.pairs_table{
  margin:0 auto;
  border: 1px solid black;
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.input_lable{
  text-align:  center;
}

.chart_container{
  margin: 0 auto;
  width:500px;
  border: 3px solid;
}
