
.navigation_menu{
  display: flex;
  width: 90%;
  margin: 0 auto;
 justify-content: space-evenly;
}

.navigationLink_holder{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  background-color: #f0f3fa;
  width: 80%;
  height: 28px;
  border-radius: 8px;
}

.link{
  text-decoration: none;
  color: black;
}

.menu_highlighting{
  color: red;
  font-weight:bold;
}
