
.card_items{
  margin: 5px;
  width: 150px;
  height: 80px;
  border-radius: 5px;
  background-color: lightskyblue;
  border: solid 1px gray;
}

.card_rate_items{
  font-size: 10px;
  font-weight: bold;
}

