
.card_items{
  margin: 5px;
  width: 130px;
  height: 80px;
  border-radius: 5px;
  background-color: #e6eaeb;
  border: solid 1px gray;
  line-height: 1.1em;
}

.card_rate_items{
  font-size: 10px;
  font-weight: bold;
}

